@keyframes ldio-axn8fvl7evw {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.ldio-axn8fvl7evw div {
  position: absolute;
  width: calc(100% - 14px * 2);
  height: calc(100% - 14px * 2);
  border: 14px solid #66cdaa;
  border-top-color: transparent;
  border-radius: 50%;
}

.ldio-axn8fvl7evw div {
  animation: ldio-axn8fvl7evw 1s linear infinite;
  top: 50%;
  left: 50%;
}

.loadingio-spinner-rolling-ecarnfyapvi {
  display: block;
  margin: 0 auto;
  overflow: hidden;
  background: #ffffff;
}

.ldio-axn8fvl7evw {
  width: 100%;
  height: 100%;
  position: relative;
  transform: translateZ(0) scale(1);
  backface-visibility: hidden;
  transform-origin: 0 0; /* see note above */
}

.ldio-axn8fvl7evw div {
  box-sizing: content-box;
}
