.modal {
  $this: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .3s ease;
  opacity: 0;
  pointer-events: none;

  &.is-active {
    opacity: 1;
    pointer-events: auto;

    #{$this}__content {
      transform: scale(1);
    }
  }

  &__content {
    padding: 20px;
    transform: scale(0);
    background-color: #fff;
    border-radius: 14px;
    transition: all .3s ease;
  }
}
