.modal {
  $this: &;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
  transition: all .3s ease .3s;
  opacity: 0;
  pointer-events: none;

  &__content {
    padding: 20px;
    transform: scale(0);
    max-height: 100%;
    overflow-y: auto;
    background-color: #fff;
    border-radius: 14px;
    transition: all .3s ease .3s;
  }

  &.modal-enter {
    opacity: 0;

    #{$this}__content {
      transform: scale(0);
    }
  }

  &.modal-enter-done {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s;

    #{$this}__content {
      transform: scale(1);
      transition: all 0.2s;
    }
  }


  &.modal-exit {
    opacity: 1;
    pointer-events: auto;
    transition: all 0.2s;

    #{$this}__content {
      transform: scale(1);
      transition: all 0.2s;
    }
  }

  &.modal-exit-active {
    opacity: 0;

    #{$this}__content {
      transform: scale(0);
    }
  }
}
